@if (notification) {
  <div class="toast {{ notificationType }}">
    {{ notification }}
  </div>
}

<nav class="navbar">
  <a class="navbar__action" [routerLink]="['/heroes/list']">←</a>
  <h2 class="navbar__title">Add new Hero</h2>
</nav>

<form class="heroForm" [formGroup]="heroForm" (ngSubmit)="addHero()">
  @for (field of fields; track field.name) {
  <div class="heroForm__field">
    <label class="heroForm__field-label">{{ field.label }}:</label>
    <input class="heroForm__field-input" [formControlName]="field.name" />
    @if (field.required && heroForm.get(field.name)?.invalid && heroForm.get(field.name)?.touched) {
    <small class="heroForm__field-advice">This field is required</small>
    }
  </div>
  }

  <button class="heroForm__add-hero-btn" type="submit" [disabled]="heroForm.invalid">Add hero</button>
</form>
