<nav class="navbar">
  <a class="navbar__action" [routerLink]="['/heroes/list']">←</a>
  <h2 class="navbar__title">
    {{ isEdit ? "Edit hero" : "Add new hero" }}
  </h2>
</nav>

<div class="hero-container {{ isEdit ? 'with-image' : 'no-image' }}">
  @if (isEdit) {
  <div class="hero-img-container">
    <img
      class="hero-img-container__img-preview"
      [src]="getHeroImage(heroForm.get('img')?.value)"
      alt="heroForm.value.superhero || 'Hero image preview'"
    />
  </div>
  }

  <form class="hero-form" [formGroup]="heroForm" (ngSubmit)="submit()">
    @for (field of fields; track field.name) {
    <div class="hero-form__field">
      <label class="hero-form__field-label">{{ field.label }}:</label>
      <input class="hero-form__field-input" [formControlName]="field.name" />
      @if (isFieldInvalid(field.name)) {
      <small class="hero-form__field-advice">This field is required</small>
      }
    </div>
    }

    <button
      class="hero-form__add-hero-btn"
      type="submit"
      [disabled]="heroForm.invalid"
    >
      {{ isEdit ? "Update hero" : "Add hero" }}
    </button>
  </form>
</div>
